#js-print-product-attribute-form .attribute-form:first-child {
    border-top: 1px solid #ededed;
    padding-top: 1rem
}
#js-print-product-attribute-form .attribute-form:last-child {
    border-bottom: 1px solid #ededed;
    padding-bottom: 1rem
}
.attribute-form + .attribute-form {
    border-top: 1px solid #ededed;
    padding-top: 1rem
}
.btn-cannel {
    max-width: 100px;
    width: 100%;
}
.btn-save {
    max-width: 200px;
    width: 100%;
}
table td {
    vertical-align: middle !important
}
.btn-status {
    width: 120px;
}
.list-money-for-product {
    list-style: none;
    margin: 0;
    padding: 0;
}